.admin_container {
	margin-top: 50px;
	text-align: center;	
}

.table {
	min-width: 200px;	
	display: inline-block;
	border-collapse: collapse;
	height: 350px;
}

.table td, .table th {
	border: 1px #7DB1E1 solid;
	color: #FFD595;
	padding: 0 5px;
}

.btn {
	margin: 4px; 
}

.create_container {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -150px 0 0 -190px;
	width:380px;
	height:300px;
}

.admin_container h1 {
	margin-top: 150px;
	color: white;
}

.admin_container label {
	color: white;
}

.is-invalid {
	color: red;
}

.pagination {
	list-style: none;
}

.pagination .page-item {
	display: inline-block;
	color: white;
}

.pagination .page-item a:visited {
	color: white;
	opacity: 0.2;
}

.hidden {
	display: none;
}